<!-- navigation bar -->
<nav class="navbar navbar-expand-sm bg-dark justify-content-between">

	<!-- Links -->

	<ul class="navbar-nav">
		<li class="nav-item"><a class="navbar-brand" href="books2.html">
				<img src="testlogo.png" alt="Logo" style="width: 50px;">
		</a></li>
		
		<!-- Dropdown -->
			
		<!-- <li class="nav-item dropdown"><a class="nav-link dropdown-toggle"
			href="#" id="navbardrop" data-toggle="dropdown"
			style="color: white; font-size: 20px"> Category </a>
			<div class="dropdown-menu">
				<a class="dropdown-item" href="#">Mathematics</a> <a
					class="dropdown-item" href="#">Biology</a> <a class="dropdown-item"
					href="#">Art</a>
			</div></li>
			 -->

		<li class="nav-item"><a class="nav-link" href="my_books.html"
			id="myBooksLink" style="color: white; font-size: 20px">My Books</a></li>

	</ul>

	<form class="form-inline">
		<input class="form-control mr-sm-2" type="search" placeholder="Search"
			id="mainSearch" autofocus>
		<button type="button" class="btn btn-success" data-toggle="modal"
			data-target="#advancedSearchModal">Advanced search</button>
	</form>


	<div class="nav-item" id="active-user" style="color: white; font-size: 20px"></div>
			
	<div>
	
		<button type="button" class="btn btn-success" data-toggle="modal"
			data-target="#myModal" id="logInButton" style="display: none">Sign
			in/Join</button>
		<button type="submit" class="btn btn-success float-right"
			onClick="logOutUser();" id="logOutButton">Log out</button>
	</div>
	
	

</nav>
<br />

<!-- Advanced search modal -->
<div id="advancedSearchModal" class="modal fade" role="dialog">
	<div class="modal-dialog">

		<!-- Modal content-->
		<!-- Funktsionaalsust pole lisatud -->
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title">Advanced search</h4>
				<button type="button" class="close" data-dismiss="modal">&times;</button>

			</div>
			<div class="modal-body">
				<form>
					<div class="form-group">
						<label for="title">Title:</label> <input type="text"
							class="form-control" placeholder="title" id="title">
					</div>
					<div class="form-group">
						<label for="author">Author:</label> <input type="text"
							class="form-control" placeholder="author" id="author">
					</div>
					<div class="form-group">
						<label for="isbn">ISBN:</label> <input type="text"
							class="form-control" placeholder="ISBN" id="isbn">
					</div>
					<button type="submit" class="btn btn-success float-right">Search</button>
				</form>
			</div>
			<!--  <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>-->
		</div>

	</div>
</div>

<!-- Sign in Modal -->
<div id="myModal" class="modal fade" role="dialog">
	<div class="modal-dialog">

		<!-- Modal content-->
		<div class="modal-content">

			<div class="modal-body">
				
					<ul class="nav nav-tabs" id="myTab" role="tablist">
						<li class="nav-item"><a class="nav-link active" id="home-tab"
							data-toggle="tab" href="#login" role="tab" aria-controls="home"
							aria-selected="true">Log in</a></li>
						<li class="nav-item"><a class="nav-link" id="profile-tab"
							data-toggle="tab" href="#signup" role="tab"
							aria-controls="profile" aria-selected="false">Sign up</a></li>

					</ul>

					<!-- Log in form -->
					<div class="tab-content" id="myTabContent">
						<div class="tab-pane fade show active" id="login" role="tabpanel"
							aria-labelledby="home-tab">
							<form style="margin-top: 20px">
								<div class="form-group">
									<label for="email">Email address:</label> <input type="email"
										class="form-control" placeholder="E-mail" id="email">
								</div>
								<div class="form-group">
									<label for="pwd">Password:</label> <input type="password"
										class="form-control" placeholder="Password" id="pwd">
								</div>
								<div class="checkbox">
									<label><input type="checkbox"> Remember me</label>
								</div>
								<button type="submit" class="btn btn-success float-right"
									onClick="logInUser();">Log in</button>
							</form>
						</div>

						<!-- Registration form -->
						<div class="tab-pane fade" id="signup" role="tabpanel"
							aria-labelledby="profile-tab">
							<form style="margin-top: 20px">
						
								<div class="form-group">
									<label for="firstName">First name:</label> <input type="text"
										required class="form-control" placeholder="First name"
										id="firstName">
								</div>
								<div class="form-group">
									<label for="lastName">Last name:</label> <input type="text"
										required class="form-control" placeholder="Last name"
										id="lastName">
								</div>
								<div class="form-group">
									<label for="email">Email address:</label> <input type="email"
										required class="form-control" placeholder="E-mail"
										id="signUpEmail">
								</div>
								<div class="form-group">
									<label for="username">User Name:</label> <input type="text"
										required class="form-control" placeholder="Username"
										id="username">
								</div>
								<div class="form-group">
									<label for="pwd">Password:</label> <input type="password"
										required class="form-control" placeholder="Password"
										id="signUpPwd">
								</div>
								<div class="form-group">
									<label for="address">Address:</label> <input type="text"
										required class="form-control"
										placeholder="Street, home number" id="address">
								</div>
								<div class="form-group">
									<label for="city">City:</label> <input type="text" required
										class="form-control" placeholder="City" id="city">
								</div>
								<div class="form-group">
									<label for="phoneNumber">Phone Number:</label> <input
										type="number" required class="form-control"
										placeholder="Phone Number" id="phoneNumber">
								</div>
								<div class="form-group">
									<label for="ssid">Social Security ID:</label> <input
										type="number" required class="form-control"
										placeholder="Social Security ID" id="ssid">
								</div>
								<button type="submit" class="btn btn-success float-right" onClick="saveNewUser();">Sign
									up</button>
							</form>
						</div>
					</div>

				
			</div>
			<!--  <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>-->

		</div>
	</div>

</div>


<script src="js/jquery.min.js"></script>
<script src="js/jquery-ui.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/auth.js"></script>
<script src="js/functions-library.js"></script>
<script>
	$(document).ready(function() {
		generalSearch();
		getAuthenticatedUser();
		getUsersName();
	});


</script>